@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

:root {
    --primary-color: #eccfd1;
    --black-color: #000;
    --white-color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-rendering: optimizeSpeed;
    font-family: 'Poppins', sans-serif;
    overflow-y: overlay;
}
